<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				TSM2: optimizing tall-and-skinny matrix-matrix multiplication on GPUs.
			</span><br />
			<span class="authors">
				Jieyang Chen, Nan Xiong, Xin Liang, Dingwen Tao, Sihuan Li, Kaiming Ouyang, Kai Zhao, Nathan DeBardeleben, Qiang Guan, and Zizhong Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ACM International Conference on Supercomputing(ICS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				In situ TensorView: In situ Visualization of Convolutional Neural Networks.
			</span><br />
			<span class="authors">
				Xinyu Chen, Qiang Guan, Li-Ta Lo, Simon Su, Zhengyong Ren, James Paul Ahrens, and Trilce Estrada.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 IEEE International Conference on Big Data (Big Data)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Build and Execution Environment (BEE): an Encapsulated Environment Enabling HPC Applications Running Everywhere.
			</span><br />
			<span class="authors">
				Jieyang Chen, Qiang Guan, Xin Liang, Paul Bryant, Patricia Grubel, Allen McPherson, Li-Ta Lo, Timothy Randles, Zizhong Chen, and James Paul Ahrens.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 IEEE International Conference on Big Data (Big Data)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fault tolerant one-sided matrix decompositions on heterogeneous systems with GPUs.
			</span><br />
			<span class="authors">
				Jieyang Chen, Hongbo Li, Sihuan Li, Xin Liang, Panruo Wu, Dingwen Tao, Kaiming Ouyang, Yuanlai Liu, Kai Zhao, Qiang Guan, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Conference for High Performance Computing, Networking, Storage, and Analysis (SC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				UNS: A Portable, Mobile, and Exchangeable Namespace for Supporting Fetch-from-Anywhere Big Data Eco-Systems.
			</span><br />
			<span class="authors">
				Hsing-bung Chen, Qiang Guan, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 IEEE 16th Intl Conf on Dependable, Autonomic and Secure Computing, 16th Intl Conf on Pervasive Intelligence and Computing, 4th Intl Conf on Big Data Intelligence and Computing and Cyber Science and Technology Congress (DASC/PiCom/DataCom/CyberSciTech)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Sensor Data Fusion Framework to Improve Holographic Object Registration Accuracy for a Shared Augmented Reality Mission Planning Scenario.
			</span><br />
			<span class="authors">
				Simon Su, Vincent Perry, Qiang Guan, Andrew Durkee, Alexis R Neigel, and Sue Kase.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Virtual, Augmented and Mixed Reality</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				BeeFlow: A Workflow Management System for In Situ Processing across HPC and Cloud Systems.
			</span><br />
			<span class="authors">
				Jieyang Chen, Qiang Guan, Zhao Zhang, Xin Liang, Louis Vernon, Allen McPherson, Li-Ta Lo, Patricia Grubel, Tim Randles, Zizhong Chen, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 IEEE 38th International Conference on Distributed Computing Systems (ICDCS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Modeling Application Resilience in Large-scale Parallel Execution.
			</span><br />
			<span class="authors">
				Kai Wu, Wenqian Dong, Qiang Guan, Nathan DeBardeleben, and Dong Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 47th International Conference on Parallel Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Using virtualization to quantify power conservation via near-threshold voltage reduction for inherently resilient applications.
			</span><br />
			<span class="authors">
				Li Tan, Nathan DeBardeleben, Qiang Guan, Sean Blanchard, and Michael Lang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Parallel Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Resilience Analysis of Top K Selection Algorithms.
			</span><br />
			<span class="authors">
				Ryan Slechta, Laura Monroe, Nathan DeBardeleben, Qiang Guan, Joanne Wendelberger, and Sarah Michalak.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 13th European Dependable Computing Conference (EDCC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lifetime memory reliability data from the field.
			</span><br />
			<span class="authors">
				Taniya Siddiqua, Vilas Sridharan, Steven E Raasch, Nathan DeBardeleben, Kurt B Ferreira, Scott Levy, Elisabeth Baseman, and Qiang Guan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 IEEE International Symposium on Defect and Fault Tolerance in VLSI and Nanotechnology Systems (DFT)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Tensorview: visualizing the training of convolutional neural network using paraview.
			</span><br />
			<span class="authors">
				Xinyu Chen, Qiang Guan, Xin Liang, Li-Ta Lo, Simon Su, Trilce Estrada, and James Ahrens.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 1st Workshop on Distributed Infrastructures for Deep Learning</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Silent data corruption resilient two-sided matrix factorizations.
			</span><br />
			<span class="authors">
				Panruo Wu, Nathan DeBardeleben, Qiang Guan, Sean Blanchard, Jieyang Chen, Dingwen Tao, Xin Liang, Kaiming Ouyang, and Zizhong Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM HPDC</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Letgo: A lightweight continuous framework for hpc applications under failures.
			</span><br />
			<span class="authors">
				Bo Fang, Qiang Guan, Nathan Debardeleben, Karthik Pattabiraman, and Matei Ripeanu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 26th International Symposium on High-Performance Parallel and Distributed Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				RSVP: Soft Error Resilient Power Savings at Near-Threshold Voltage using Register Vulnerability.
			</span><br />
			<span class="authors">
				Li Tan, Nathan DeBardeleben, Qiang Guan, Sean Blanchard, and Michael Lang.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 47th Annual IEEE/IFIP International Conference on Dependable Systems and Networks Workshops (DSN-W)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Addressing statistical significance of fault injection: Empirical studies of the soft error susceptibility.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan DeBardeleben, Sean Blanchard, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of High Performance Computing and Networking</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Improving dram fault characterization through machine learning.
			</span><br />
			<span class="authors">
				Elisabeth Baseman, Nathan DeBardeleben, Kurt Ferreira, Scott Levy, Steven Raasch, Vilas Sridharan, Taniya Siddiqua, and Qiang Guan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 46th Annual IEEE/IFIP International Conference on Dependable Systems and Networks Workshop (DSN-W)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Design, use and evaluation of p-fsefi: A parallel soft error fault injection framework for emulating soft errors in parallel applications.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan BeBardeleben, Panruo Wu, Stephan Eidenbenz, Sean Blanchard, Laura Monroe, Elisabeth Baseman, and Li Tan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 9th EAI International Conference on Simulation Tools and Techniques</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				On the inherent resilience of integer operations.
			</span><br />
			<span class="authors">
				Laura Monroe, William M Jones, Scott R Lavigne, Claude H Davis, Qiang Guan, and Nathan DeBardeleben.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Conference on Parallel Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Sdc is in the eye of the beholder: A survey and preliminary study.
			</span><br />
			<span class="authors">
				Bo Fang, Panruo Wu, Qiang Guan, Nathan DeBardeleben, Laura Monroe, Sean Blanchard, Zhizong Chen, Karthik Pattabiraman, and Matei Ripeanu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 46th Annual IEEE/IFIP International Conference on Dependable Systems and Networks Workshop (DSN-W)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards practical algorithm based fault tolerance in dense linear algebra.
			</span><br />
			<span class="authors">
				Panruo Wu, Qiang Guan, Nathan DeBardeleben, Sean Blanchard, Dingwen Tao, Xin Liang, Jieyang Chen, and Zizhong Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 25th ACM International Symposium on High-Performance Parallel and Distributed Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Analyzing the Robustness of HPC Applications Using a Fine-Grained Soft Error Fault Injection Tool.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan DeBardeleben, Sean Blanchard, Song Fu, Claude H Davis IV, and William M Jones.
			</span><br />
			<span class="venuetype"></span><span class="venue">Innovative Research and Applications in Next-Generation High Performance Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Differentiated Failure Remediation with Action Selection for Resilient Computing.
			</span><br />
			<span class="authors">
				Song Huang, Song Fu, Nathan DeBardeleben, Qiang Guan, and Cheng-Zhong Xu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 IEEE 21st Pacific Rim International Symposium on Dependable Computing (PRDC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards building resilient scientific applications: Resilience analysis on the impact of soft error and transient error tolerance with the clamr hydrodynamics mini-app.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan DeBardeleben, Brian Artkinson, Robert Robey, and WIlliam M Jones.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 IEEE International Conference on Cluster Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Empirical studies of the soft error susceptibility ofsorting algorithms to statistical fault injection.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan DeBardeleben, Sean Blanchard, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 5th Workshop on Fault Tolerance for HPC at eXtreme Scale</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fault injection experiments with the clamr hydrodynamics mini-app.
			</span><br />
			<span class="authors">
				Brian Atkinson, Nathan Debardeleben, Qiang Guan, Robert Robey, and William M Jones.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE International Symposium on Software Reliability Engineering Workshops</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				F-sefi: A fine-grained soft error fault injection tool for profiling application vulnerability.
			</span><br />
			<span class="authors">
				Qiang Guan, Nathan Debardeleben, Sean Blanchard, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE 28th International Parallel and Distributed Processing Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Wavelet-based multi-scale anomaly identification in cloud computing systems.
			</span><br />
			<span class="authors">
				Qiang Guan and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE Global Communications Conference (GLOBECOM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Adaptive anomaly identification by exploring metric subspace in cloud computing infrastructures.
			</span><br />
			<span class="authors">
				Qiang Guan and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE 32nd International Symposium on Reliable Distributed Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Exploring Time and Frequency Domains for Accurate and Automated Anomaly Detection in Cloud Computing Systems.
			</span><br />
			<span class="authors">
				Qiang Guan, Song Fu, Nathan DeBardeleben, and Sean Blanchard.
			</span><br />
			<span class="venuetype"></span><span class="venue">Dependable Computing (PRDC), 2013 IEEE 19th Pacific Rim International Symposium on</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Cda: A cloud dependability analysis framework for characterizing system dependability in cloud computing infrastructures.
			</span><br />
			<span class="authors">
				Qiang Guan, Chi-Chen Chiu, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 IEEE 18th Pacific Rim International Symposium on Dependable Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An adaptive power management framework for autonomic resource configuration in cloud computing infrastructures.
			</span><br />
			<span class="authors">
				Ziming Zhang, Qiang Guan, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 IEEE 31st International Performance Computing and Communications Conference (IPCCC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				AFD: Adaptive failure detection system for cloud computing infrastructures.
			</span><br />
			<span class="authors">
				Husanbir S Pannu, Jianguo Liu, Qiang Guan, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 IEEE 31st International Performance Computing and Communications Conference (IPCCC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Efficient and accurate anomaly identification using reduced metric space in utility clouds.
			</span><br />
			<span class="authors">
				Qiang Guan, Chi-Chen Chiu, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 IEEE Seventh International Conference on Networking, Architecture, and Storage</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A failure detection and prediction mechanism for enhancing dependability of data centers.
			</span><br />
			<span class="authors">
				Qiang Guan, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of Computer Theory and Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Ensemble of bayesian predictors and decision trees for proactive failure management in cloud computing systems.
			</span><br />
			<span class="authors">
				Qiang Guan, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Ensemble of bayesian predictors for autonomic failure management in cloud computing.
			</span><br />
			<span class="authors">
				Qiang Guan, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2011 Proceedings of 20th International Conference on Computer Communications and Networks (ICCCN)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Experimental framework for injecting logic errors in a virtual machine to profile applications for soft error resilience.
			</span><br />
			<span class="authors">
				Nathan DeBardeleben, Sean Blanchard, Qiang Guan, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Conference on Parallel Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Proactive failure management by integrated unsupervised and semi-supervised learning for dependable cloud systems.
			</span><br />
			<span class="authors">
				Qiang Guan, Ziming Zhang, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2011 Sixth International Conference on Availability, Reliability and Security</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				auto-AID: A data mining framework for autonomic anomaly identification in networked computer systems.
			</span><br />
			<span class="authors">
				Qiang Guan and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Performance Computing and Communications Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Anomaly detection in large-scale coalition clusters for dependability assurance.
			</span><br />
			<span class="authors">
				Qiang Guan, Derek Smith, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2010 International Conference on High Performance Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An anomaly detection framework for autonomic management of compute cloud systems.
			</span><br />
			<span class="authors">
				Derek Smith, Qiang Guan, and Song Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">2010 IEEE 34th Annual Computer Software and Applications Conference Workshops</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Research on optimization of process bus in IEC 61850-based substation communication network.
			</span><br />
			<span class="authors">
				Yang Liu, Qiang Guan, Seung-Soo Han, Myeon-Song Choi, and Seung-Jae Lee.
			</span><br />
			<span class="venuetype"></span><span class="venue">The International Conference on Electrical Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Reliability and Dependability Analysis for Agent-Based Reliability Enhancement Technology (ARET) System.
			</span><br />
			<span class="authors">
				Qiang Guan and Seung-Soo Han.
			</span><br />
			<span class="venuetype"></span><span class="venue">2009 International Conference on Electronic Computer Technology</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
